/* Global Styles
--------------------*/
<style>
.imgmain {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
</style>

.content-wrap {
    width: 950px;
    margin: 0 auto;
}

body {
    background: grey;
}

body{
  font-family: 'open sans', sans-serif;
  margin: 0;
}
h1, h3 {
  font-family: 'Caveat', cursive;
}
h1{
  font-size: 40px;
  margin-top: 0;
}

a {
  color: #00ff00;
}
a: hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
}

.contact-info a {
  background: grey;
  padding: 10px;
}

p {
  background: lightgreen;
  padding: 10px;
  margin: 10px;
}

/* intersectional justice
---------------------------*/
.work {
  background: #e1ff3e
}

.* Moses
-------------------------*/
.moses {
  background: #ee82ee;
}

/* Header and Footer
-------------------*/
header, footer {
  background: #e1ff3e;
  color: #e1ff3e;
}

.profile-img {
  width: 300px;
  border-radius" 50%
}

header {
  text-algin: center;
}

header h1, header h2 {
  color: #ffa500;

.demo{
    color: orange;
}

#demo {
    color: Pink;
}

a:active {
  border: 1px solid black;
}

a: hover {
   color: blue;
padding; 6px;
}

a:hover {
  background: none;
}

a:foucus,
input:focus
  outline: 1px solid black:
}

a:link {
     color: white;
}

a:visited {
  background: lightblue;
}

h1 {
  color: red;
  text-align: center;
  font-family: Times New Roman;
}
<iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/1660902/sp/166090200/embedIframeJs/uiconf_id/25717641/partner_id/1660902?iframeembed=true&playerId=kaltura_player&entry_id=1_myjdahni&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en_US&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_ojm7pbpw" width="649" height="401" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *"  frameborder="0" title="View My Machine Learning At Work"></iframe>
